# {{ ansible_managed }}

production:
  adapter: {{ database_yml_adapter }}
  database: {{ database_yml_database }}
  host: {{ database_yml_host}}
  username: {{ database_yml_username }}
  password: {{ database_yml_password }}
