# {{ ansible_managed }}

production:
  adapter: {{ redmine_database_yml_adapter }}
  database: {{ redmine_database_yml_database }}
  host: {{ redmine_database_yml_host}}
  username: {{ redmine_database_yml_username }}
  password: {{ redmine_database_yml_password }}
